@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
}

main {
  width: 375px;
  background-color: #e5e5e5;
}

html {
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  width: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
}

#mylogo {
  margin-left: 24px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: #6070ff;
}

.menu {
  margin-right: 24px;
  min-width: 18px;
  min-height: 12px;
}

.connect {
  margin-left: 24px;
  width: 45.37%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #7f8cff;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.headline {
  background-image: url(./images/header-shapes\ mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 9.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  border-radius: 0 0 0 7rem;
  background-color: #fff;
}

.text {
  width: 87.2%;
  margin-left: 24px;
}

.primary {
  font-family: "poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.6rem;
  line-height: 5.2rem;
  color: #172b4d;
}

.supporting {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.icons {
  margin: 0 0 0 2.4rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.cards {
  
  margin: 0 18px;
  padding: 1.6rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.works {
  display: grid;
  gap: 4.4rem;
  padding: 11.4rem 0;
}

.title {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 3.2rem;
line-height: 4.4rem;
color: #172b4d;
}

.desctext {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2.4rem;
color: #172b4d;
}

.fav {
  width: 80%;
  margin: 0;
}

.cano {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
}

.dev {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7A869A;
}

.tech {
  width: 67%;
  margin: 0;
}

.techitems {
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 0.8rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see {
  padding: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: white;
  color: #396df2;
}