@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
}

.main {
  min-width: 375px;
  background-color: #e5e8eb;
}

html {
  font-size: 10px;
}

img {
  max-width: 90%;
  transition-property: max-with;
  transition-duration: 4s;
  transition-delay: 2s;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img:hover {
  max-width: 100%;
  cursor: pointer;
}

.heada {
  min-width: 375px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  margin: 0 2.4rem;
}

label {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.bar:first-child {
  margin-top: 0;
}

.bar:last-child {
  margin-bottom: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.navul {
  display: none;
}

.navul a {
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.navitem {
  margin: 16px 0;
}

.main.active p {
  filter: blur(8px);
}

.main.active h2 {
  filter: blur(8px);
}

.main.active h1 {
  filter: blur(8px);
}

.navul.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #6070ff;
  position: fixed;
  left: 0;
  top: -40px;
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 600;
  padding: 50px 0 0 24px;
}

.hamburger.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.container#overlay.active {
  filter: blur(8px);
}

#mylogo {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: #6070ff;
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.menu {
  min-width: 18px;
  min-height: 12px;
}

.over {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c7d0;
  opacity: 0;
  pointer-events: none;
}

.over.active {
  pointer-events: all;
  opacity: 0.6;
}

.connect {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #7f8cff;
}

.headline {
  background-image: url(./images/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.4rem 0;
  background-color: #fff;
  border-radius: 0 0 0 7rem;
}

.head {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.primary {
  font-family: "poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
}

.supporting {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.icons {
  width: fit-content;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 1.6rem;
}

li:last-child {
  margin-right: 0;
}

.works {
  width: 100%;
  display: grid;
  gap: 4.4rem;
  padding: 11.4rem 0;
}

.cards {
  margin: 0 auto;
  padding: 1.6rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  width: 80%;
  height: 78%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in-out;
  z-index: 10;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.explain {
  display: grid;
  gap: 16px;
}

.smart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.but {
  padding: 12px 22px;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btns {
  display: flex;
  gap: 16px;
  padding-left: 16px;
}

.titles {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.popup .tile {
  display: flex;
  justify-content: space-between;
}

.close {
  border: none;
  background-color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
}

.desctext {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #172b4d;
}

.cano {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
}

.dev {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
}

.techitems {
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 0.8rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see {
  width: fit-content;
  padding: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #fff;
  color: #396df2;
}

.see:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s ease-in;
}

.see:focus {
  background-color: #2230d2;
  color: #fff;
}

.me {
  width: fit-content;
  padding: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #fff;
  color: #396df2;
}

.me:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s ease-in;
}

.me:focus {
  background-color: #2230d2;
  color: #fff;
}

.about {
  background-color: #fff;
  border-radius: 0 8rem 0 0;
  padding: 11.4rem 0;
}

.realabout {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.language {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0;
}

.language li {
  margin-right: 0;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 550;
  line-height: 2.4rem;
  color: #000;
}

.langue {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
  padding: 0;
  margin-top: 2.4rem;
}

.line {
  padding: 0 0 1rem 1rem;
  border-bottom: 1px solid #dfe1e6;
}

.lan {
  display: flex;
  align-items: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #253858;
  background-color: #f7f7f9;
  padding: 0.8rem 0;
  margin-right: 0;
}

.lo {
  padding-right: 2.4rem;
}

.contactform {
  min-width: 375px;
  padding: 10.4rem 0 0 0;
  background-color: #6070ff;
  border-radius: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
  justify-content: center;
  color: #fff;
  background-image: url(./images/contact\ form\ shapes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.small {
  display: flex;
  align-items: center;
  gap: 5px;
  color: red;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 auto;
}

#intouch {
  margin: 0;
}

.contatcttitle {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 700;
  width: 87.2%;
}

.attract {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #ebeffe;
  padding: 0;
  width: 87.2%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 87.2%;
}

.names {
  border: none;
  border-radius: 8px;
  font-size: 1.7rem;
  padding: 1.5rem;
}

.names::placeholder {
  color: #303233;
}

form textarea {
  height: 12rem;
}

hr {
  width: 40%;
  height: 5px;
  border-radius: 1rem;
  margin-left: 32%;
  background-color: #0d151e;
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 0 7rem;
  }

  .navul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 0;
    background-color: #fff;
  }

  .navul a {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding-right: 24px;
  }

  .hamburger {
    display: none;
  }

  .headline {
    background-image: url(./images/Header.png);
    background-size: contain;
    padding: 20rem 0;
  }

  .head {
    width: 58%;
  }

  .heading {
    width: 30%;
  }

  .language {
    width: 60%;
  }

  .image {
    width: 55%;
    transition-property: width;
    transition-duration: 3s;
    transition-delay: 2s;
  }

  .image:hover {
    width: 65%;
  }

  .two {
    order: 2;
  }

  .four {
    order: 2;
  }

  .desc {
    width: 40%;
    padding: 2rem;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .explain {
    grid-template-columns: 2fr 1fr;
  }

  .but {
    padding: 8px 25px;
  }

  .realabout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .lang {
    font-weight: 500;
  }

  .lan {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    align-items: flex-start;
  }

  .langue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  hr {
    display: none;
  }

  form {
    width: 65%;
    margin: 0 auto 7rem;
  }

  form button {
    margin: 0 auto;
  }

  .contatcttitle {
    text-align: center;
    margin: 0 auto;
  }

  .attract {
    margin: 0 auto;
    font-weight: 400;
  }

  .contactform {
    background-image: url(./images/contact\ form\ background\ shape.png);
  }
}
